<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body data-spy="scroll" data-target=".navbar-fixed-top" roleId="page-top">
<head th:replace="common/header :: navbar"/>
<div class="container">
  <div class="row main">
    <div class="col-md-6">
      <h2 class="title">My Profile</h2>
      <hr/>
      <form method="post" th:action="@{/user/profile}">
        <input name="id" th:value="${user.userId}" type="hidden"/>

        <div class="form-group">
          <label for="firstName">First Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i aria-hidden="true"
                                                 class="fa fa-user fa"></i></span>
              <input class="form-control" id="firstName" name="firstName" placeholder="Enter your first name"
                     required="required" roleId="firstname" th:value="${user.firstName}"
                     type="text"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label" for="lastName">Last Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i aria-hidden="true"
                                                 class="fa fa-user fa"></i></span>
              <input class="form-control" id="lastName" name="lastName" placeholder="Enter your last name"
                     required="required" roleId="lastName" th:value="${user.lastName}"
                     type="text"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label" for="phone">Phone</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i aria-hidden="true"
                                                 class="fa fa-phone fa"></i></span>
              <input class="form-control" id="phone" name="phone" placeholder="xxx-xxx-xxxx"
                     required="required"
                     roleId="phone" th:value="${user.phone}" type="text"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label" for="email">Your Email</label><span
            class="bg-danger pull-right" th:if="${emailExists}">Email already exists</span>
          <div class="cols-sm-10">
            <div class="input-group">
                                <span class="input-group-addon"><i aria-hidden="true"
                                                                   class="fa fa-envelope fa"></i></span>
              <input class="form-control" id="email" name="email" placeholder="Enter your Email"
                     required="required"
                     roleId="email" th:value="${user.email}" type="text"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label" for="username">Username</label><span
            class="bg-danger pull-right" th:if="${usernameExists}">Username already exists</span>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i aria-hidden="true"
                                                 class="fa fa-users fa"></i></span>
              <input class="form-control" id="username" name="username" placeholder="Enter your Username"
                     required="required" roleId="username" th:value="${user.username}"
                     type="text"/>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button class="btn btn-primary btn-block " type="submit">Change Settings
          </button>
        </div>

      </form>
    </div>
    <div class="col-md-6">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <h1 class="title">Your Account Information</h1>
          <hr/>
        </div>
        <table class="responstable">
          <tr>
            <th>Primary Account Number</th>
            <th>Savings Account Number</th>
          </tr>

          <tr>
            <td data-th-text="${user.primaryAccount.accountNumber}">...</td>
            <td data-th-text="${user.savingsAccount.accountNumber}">...</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>